node_modules
npm-debug.log
dist
.git
.gitignore
.env
.env.local
README.md
.idea
.vscode
*.swp
*.swo
*~
.DS_Store
target
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
mvnw
mvnw.cmd
frontend
docker

