<div class="flex flex-col gap-6 bg-zinc-50 dark:bg-zinc-950 p-4">

    <!-- Welcome Section -->
    <p-card class="rounded-xl bg-white dark:bg-zinc-900 border border-zinc-200 dark:border-zinc-800">
        <h2 class="text-2xl font-semibold text-zinc-900 dark:text-zinc-100">
            Welcome back 👋
        </h2>
        <p class="text-zinc-500 dark:text-zinc-400">
            Discover restaurants and share your experience
        </p>
    </p-card>

    <!-- Stats Section -->
    <app-stats-cards *ngIf="analytics" [totalRestaurants]="analytics.restaurants" [userReviews]="analytics.reviews"
        [avgRating]="analytics.rating">
    </app-stats-cards>

    <!-- Popular Restaurants -->
    <app-restaurant-grid [title]="'Popular Restaurants'" [restaurants]="popularRestaurants">
    </app-restaurant-grid>

    <!-- All Restaurants -->
    <app-restaurant-grid [title]="'All Restaurants'" [restaurants]="restaurants">
    </app-restaurant-grid>

</div>