<!-- OPEN DIALOG BUTTON -->
<!-- <button pButton icon="pi pi-plus" label="Add Restaurant" class="p-button-dark" (click)="openDialog()">
</button> -->
<!-- TRIGGER BUTTON FROM PARENT -->
<ng-content select="[dialogTrigger]"></ng-content>

<!-- DIALOG -->
<p-dialog [(visible)]="showDialog" header="Create Restaurant" [modal]="true" [style]="{ width: '450px' }" (onHide)="onDialogHide()">

    <app-restaurant-form (formSubmit)="createRestaurant($event)" (cancel)="closeDialog()">
    </app-restaurant-form>

</p-dialog>