<form class="space-y-4" (ngSubmit)="submit()">

    <!-- RATING -->
    <div>
        <label class="block mb-1 text-sm text-zinc-700 dark:text-zinc-300">Rating <span
                class="text-red-500">*</span></label>
        <p-rating [(ngModel)]="rating" name="rating"></p-rating>

        <small class="text-red-500 block" *ngIf="isRatingInvalid">
            Rating is required.
        </small>
    </div>

    <!-- REVIEW TEXT -->
    <div>
        <label class="block mb-1 text-sm text-zinc-700 dark:text-zinc-300">Review <span
                class="text-red-500">*</span></label>
        <textarea [(ngModel)]="reviewText" name="reviewText" rows="4"
            class="w-full p-3 rounded-md border border-zinc-300 dark:border-zinc-700 bg-white dark:bg-zinc-800 text-zinc-800 dark:text-zinc-200">
        </textarea>

        <small class="text-red-500" *ngIf="isReviewRequiredInvalid">
            Review is required.
        </small>

        <!-- Friendly Note -->
        <p class="mt-2 text-xs text-zinc-500 dark:text-zinc-400">
            Note: If you have already submitted a review for this restaurant,
            submitting a new review will automatically replace your previous one.
        </p>
    </div>

    <!-- ACTION BUTTONS -->
    <div class="flex justify-end gap-2">
        <button pButton type="button" label="Cancel" class="p-button-text" (click)="cancel.emit()" size="small">
        </button>

        <button pButton type="submit" label="Submit" class="p-button-primary" size="small">
        </button>
    </div>

</form>